/*.App {
  text-align: center;
}*/

.App {
  color: purple;
  background-color: black;
  margin: 100px;
  border: 10px solid red;

}
.statement {
  color: white;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 100px;
}

.world {
  height: 200px;
  width: 100%;
  background-color: lightgreen;
  color: grey;
  font-style: times;
  text-align: center;
  padding: 50px;
  border: 5px solid white;
  margin: 50 100 50 50;
  position: relative;
  left: 400px;
}
h1 {
  text-align: center;
}
p.col-sm-5  {
  text-align: center;
  font-size: 25px;
}
.jargon {
  height: 75px;
  width: 75px;
  font-size: 25px;
}
.struggle {
  font-size: 25px;
}